<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    <style type="text/css">
        body {
            margin-top: 40px;
        }
    </style>
</head>

<body>
    <div id="root" class="container">
       <coupon @applied="onCouponApplied"></coupon>

       <h1 v-if="couponApplied">you used a coupon</h1>
    </div>
  
    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>